:root {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* UL element */
.main-nav {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 1px;
}

/* Pushes elements to the right of the navbar */
.push {
    margin-left: auto;
    padding: 0 8px;
}

/* Pushes content on the left of the apps icon away */
.icon {
    padding-left: 17px;
}

/* Icons */
i {
    padding: 7px 10px;
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none;
} 

li {
    font-size: .9rem;
}

.right-nav {
    padding: 0 7px;
}

.left-nav {
    padding: 0 0 0 25px;
}

.right-nav:hover, .left-nav:hover{
    text-decoration: underline;
}

/* Start of the main content */
section {
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

.container {
    margin: auto;
    position: relative;
}

img {
    padding-bottom: 25px;
    display: flex;
    margin: auto;
    cursor: pointer;
}

.search-box {
    width: 550px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: auto;
    transition: all 50ms ease-in-out;
}

.search-box:hover {
    box-shadow: -1px 1px 5px 1px rgb(0, 0, 0, .2);
}

.search-box > i {
    font-size: 21px;
    color: #777;
}

.search-box > input {
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-left: 10px;
}

.primary-btns {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background-color: #f8f9fa;
    padding: 10px 15px;
    margin: 27px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 80ms ease-in-out;
}

button:hover {
    box-shadow: 0px .5px 2px .5px rgba(0, 0, 0, .3); 
}
/* End of main content */


/* Start of footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 13px 20px;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.flex-row li{
    display: inline;
    padding: 0px 10px;
    
}

.flex-row li:hover, .mid-a:hover {
    text-decoration: underline;
}

.flex-row a, .footer-container a {
    color: #70757a;
}

.mid-a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End of footer */
